.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
pblauncher/
application/views/launcher
assets/goodgames/assets/vendors/sweetalert2/theme-dark/package.json
assets/goodgames/assets/vendors/sweetalert2/theme-dark/README.md
package-lock.json
assets/goodgames/assets/images/avatar-1.jpg
assets/goodgames/assets/images/avatar-2.jpg
assets/goodgames/assets/images/avatar-3.jpg
application/controllers/Get_launcherkey.php
application/config/google.php
application/controllers/Encrypt.php
