.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
pblauncher/
application/views/launcher
assets/goodgames/assets/vendors/sweetalert2/theme-dark/package.json
assets/goodgames/assets/vendors/sweetalert2/theme-dark/README.md
package-lock.json
application/config/google.php
application/controllers/Encrypt.php
application/libraries/Theme.php
application/controllers/Event/Opencase.php
application/views/main/content/event/content_opencase.php
application/controllers/Event/Battlepass.php
application/models/main/Battlepass_model.php
application/views/main/content/event/content_battlepass.php
node_modules/*
application/controllers/adm2/*
application/models/admin2/*
application/views/admin2/*
application/controllers/Test.php
